In [2]:
# python cookbook-ch1 algorithms and datastructures
records = [('foo', 1, 2), ('bar', 'hello'), ('foo', 3, 4)]
for item, *args in records:
    if item == 'foo':
        print(args)

[1, 2]
[3, 4]

In [3]:
for item, *args in records:
    if item == 'foo':
        print(*args)

1 2
3 4

In [4]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')
name, email, *phones = record

In [5]:
phones

['773-555-1212', '847-555-1212']

In [6]:
*phones

SyntaxError: can't use starred expression here (<ipython-input-6-d8d4690ee40d>, line 4)

In [7]:
print(*phones)

773-555-1212 847-555-1212

In [8]:
x,y = phones

In [9]:
record = ['acme', 50, 123.45, (12, 18, 2012)]
name, *_, x = record

In [10]:
x

(12, 18, 2012)

In [11]:
name, *_, (*_, x) = record

In [12]:
x

2012

In [13]:
def my_sum(items):
    head, *tail = items
    return head + my_sum(tail) if tail else head

In [14]:
items = [1, 10, 7, 4, 5, 9]

In [15]:
sum(items)

36

In [16]:
my_sum(items)

36

In [17]:
# keep a limited history of last few items seen during iteration
# use collections.deque
from collections import deque

In [18]:
def search(lines, pattern, history=5):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines
        previous_lines.append(line)

In [19]:
# find n largest or n smallest
import heapq
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
heapq.nlargest(3, nums)

[42, 37, 23]

In [20]:
heapq.nsmallest(3, nums)

[-4, 1, 2]

In [21]:
heapq.heapify(nums)
nums

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

In [22]:
portfolio = [
    {'name': 'IBM', 'shares': 100, 'price': 91.1}, 
    {'name': 'AAPL', 'shares': 50, 'price': 543.22}, 
    {'name': 'FB', 'shares': 200, 'price': 21.09}, 
    {'name': 'HPQ','shares': 35, 'price': 31.75}, 
    {'name': 'YHOO', 'shares': 45, 'price': 16.35}, 
    {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [23]:
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])

In [24]:
cheap

[{'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75}]

In [25]:
expensive

[{'name': 'AAPL', 'shares': 50, 'price': 543.22},
 {'name': 'ACME', 'shares': 75, 'price': 115.65},
 {'name': 'IBM', 'shares': 100, 'price': 91.1}]

In [26]:
# implement a priority queue that sorted items by a given priority and alows returns
# item with the highest priority on each pop operation
class PriorityQueue:
    """sorts items by given priority and returns
       items with highest priority on each pop
    """
    def __init__(self):
        self._queue = []
        self._index = 0
    
    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index += 1
    def pop(self):
        return heapq.heappop(self._queue)[-1]

In [27]:
class Item:
    def __init__(self, name):
        self.name = name
    def __repr__(self):
        return 'Item({!r})'.format(self.name)

In [28]:
q = PriorityQueue()
q.push(Item("foo"), 1)
q.push(Item("bar"), 5)
q.push(Item("spam"), 4)
q.push(Item('grok'), 1)

In [29]:
q._queue

[(-5, 1, Item('bar')),
 (-1, 0, Item('foo')),
 (-4, 2, Item('spam')),
 (-1, 3, Item('grok'))]

In [30]:
q.pop()

Item('bar')

In [31]:
q.pop()

Item('spam')

In [32]:
q.pop()

Item('foo')

In [33]:
q.pop()

Item('grok')

In [34]:
# foo and grok are returned in the order in which they are inserted
# bar is returned first since its the highest priority, then spam as thats next priotity

In [35]:
# mapping keys to multiple values in a dictionary
# use a default dict
from collections import defaultdict
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['a'].append(3)

In [36]:
d

defaultdict(list, {'a': [1, 2, 3]})

In [37]:
d = defaultdict(set)
d['a'].add(1)
d['a'].add(2)
d['a'].add(3)
d['a'].add(1)

In [38]:
d

defaultdict(set, {'a': {1, 2, 3}})

In [39]:
d['b'] # notice that a key can be accessed even though no value has been assigned to it

set()

In [40]:
# do this way instead
d = {}
d.setdefault('a',[]).append(1)

In [41]:
d['a'].append(4)

In [42]:
d

{'a': [1, 4]}

In [43]:
d['b']

KeyError: 'b'

In [44]:
# ordering in dictionary, use ordered dict
from collections import OrderedDict
d = OrderedDict() # twice as large, built out of doubly linked list, kind of inefficient
d['foo'] = 1
d['bar'] = 2
d['spam'] = 3
d['grok'] = 4
for key in d:
    print(key)

foo
bar
spam
grok

In [45]:
import json 
json.dumps(d)

'{"foo": 1, "bar": 2, "spam": 3, "grok": 4}'

In [46]:
# calculating with dictionaries
prices = {
    'ACME': 45.23, 
    'AAPL': 612.78, 
    'IBM': 205.55, 
    'HPQ': 37.20, 
    'FB': 10.75
}
min(prices, key=prices.get)

'FB'

In [47]:
min(zip(prices.values(), prices.keys()))[1]

'FB'

In [48]:
v = {320:1, 321:0, 322:3}

In [49]:
min(zip(prices.values(), prices.keys()))

(10.75, 'FB')

In [50]:
# sort the prices
prices_sorted = sorted(zip(prices.values(), prices.keys()))

In [51]:
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

In [52]:
%timeit prices[min(prices, key=prices.get)]

788 ns ± 26.9 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [53]:
%timeit min(prices.values())

290 ns ± 7.44 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [54]:
# finding commonalities in two dictionaries
a = {
    'x': 1, 
    'y': 2, 
    'z': 3
}
b = {
    'w': 10, 
    'x': 11, 
    'y': 2
}

In [55]:
a.keys() & b.keys()

{'x', 'y'}

In [56]:
# keys in a not in b
a.keys() - b.keys()

{'z'}

In [57]:
a.items() & b.items() # find key value pairs in common

{('y', 2)}

In [58]:
# make a new dictionariy with certain keys removed
c = {key: a[key] for key in a.keys() - {'z', 'w'}}

In [59]:
c

{'x': 1, 'y': 2}

In [60]:
# remove duplicates from a set
# remove duplicates from sequence while maintaining order
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)

In [61]:
a = [1, 5, 2, 1, 9, 1, 5, 10]
list(dedupe(a))

[1, 5, 2, 9, 10]

In [62]:
def dedupe2(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield val
            seen.add(val)

In [63]:
a = [{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 1, 'y': 2}, {'x': 2, 'y': 4}]
list(dedupe2(a, key=lambda d: (d['x'], d['y'])))

[(1, 2), (1, 3), (2, 4)]

In [64]:
b = [1, 5, 2, 1, 9, 1, 5, 10]

In [65]:
set(b) # not ordered

{1, 2, 5, 9, 10}

In [66]:
list(dedupe2(b))

[1, 5, 2, 9, 10]

In [67]:
for i in dedupe2(b):
    print(i)

1
5
2
9
10

In [68]:
# naming a slice
record = '....................100          .......513.25     ...........'

In [69]:
record[20:32]

'100         '

In [70]:
int(record[20:32])

100

In [71]:
record[40:48]

'513.25  '

In [72]:
float(record[40:48])

513.25

In [73]:
shares = slice(20, 32)
price = slice(40,48)

In [74]:
record[shares]

'100         '

In [75]:
record[price]

'513.25  '

In [76]:
items = list(range(6))

In [77]:
a = slice(2, 4)

In [78]:
items[a]

[2, 3]

In [79]:
items[a] = [10, 11]

In [80]:
items

[0, 1, 10, 11, 4, 5]

In [81]:
a.start

2

In [82]:
a.stop

4

In [83]:
a.step

In [84]:
a = slice(0, 50, 2)

In [85]:
items[a]

[0, 10, 4]

In [86]:
items

[0, 1, 10, 11, 4, 5]

In [87]:
s = "Helloworld"
a.indices(len(s))

(0, 10, 2)

In [88]:
# determining the most frequently occuring item
words = "look,into,my,eyes,look,into,my,eyes,the,eyes,the,eyes,not,around,the, \
eyes,don't,look,around,the,eyes,look,into,my,eyes,you're,under".split(",")

In [89]:
from collections import Counter

In [90]:
def most_frequent(words, n):
    data = {}
    for item in words:
        data[item] = data.get(item, 0) + 1
    return heapq.nlargest(n, data.items(), key=lambda x: x[1])

In [91]:
most_frequent(words,3)

[('eyes', 6), ('look', 4), ('the', 4)]

In [92]:
Counter(words).most_common(3) # this is much faster

[('eyes', 6), ('look', 4), ('the', 4)]

In [93]:
Counter(words)

Counter({'look': 4,
         'into': 3,
         'my': 3,
         'eyes': 6,
         'the': 4,
         'not': 1,
         'around': 2,
         ' eyes': 1,
         "don't": 1,
         "you're": 1,
         'under': 1})

In [94]:
word_count = Counter(words)

In [95]:
word_count['not']

1

In [96]:
more_words = 'why,are, you,not,looking,in,my,eyes'.split(",")
for word in more_words:
    word_count[word] += 1

In [97]:
word_count

Counter({'look': 4,
         'into': 3,
         'my': 4,
         'eyes': 7,
         'the': 4,
         'not': 2,
         'around': 2,
         ' eyes': 1,
         "don't": 1,
         "you're": 1,
         'under': 1,
         'why': 1,
         'are': 1,
         ' you': 1,
         'looking': 1,
         'in': 1})

In [98]:
word_count = Counter(words)
word_count.update(more_words) # this is much better

In [99]:
word_count

Counter({'look': 4,
         'into': 3,
         'my': 4,
         'eyes': 7,
         'the': 4,
         'not': 2,
         'around': 2,
         ' eyes': 1,
         "don't": 1,
         "you're": 1,
         'under': 1,
         'why': 1,
         'are': 1,
         ' you': 1,
         'looking': 1,
         'in': 1})

In [100]:
a = Counter(words)
b = Counter(more_words)

In [101]:
c = a + b

In [102]:
c

Counter({'look': 4,
         'into': 3,
         'my': 4,
         'eyes': 7,
         'the': 4,
         'not': 2,
         'around': 2,
         ' eyes': 1,
         "don't": 1,
         "you're": 1,
         'under': 1,
         'why': 1,
         'are': 1,
         ' you': 1,
         'looking': 1,
         'in': 1})

In [103]:
# sorting a list of dictionaries by a common key
rows = [{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, 
       {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, 
       {'fname': 'Bid', 'lname': 'Jones', 'uid': 1004},
       {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]
from operator import itemgetter

In [104]:
rows_by_fname = sorted(rows, key=itemgetter("fname"))

In [105]:
rows_by_fname

[{'fname': 'Bid', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [106]:
sorted(rows, key=lambda s: s['fname'])

[{'fname': 'Bid', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}]

In [107]:
sorted(rows, key=lambda s: s['uid'])

[{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'Bid', 'lname': 'Jones', 'uid': 1004}]

In [108]:
sorted(rows, key=itemgetter("lname", 'fname')) # this is faster than next solution

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Bid', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [109]:
sorted(rows, key=lambda r: (r['lname'], r['fname']))

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Bid', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [110]:
min(rows, key=itemgetter('uid'))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

In [111]:
# sortign objects without native comparison support
class User: 
    def __init__(self, user_id,first_name, last_name):
        self.user_id = user_id
        self.first_name = first_name
        self.last_name = last_name
    def __repr__(self):
        return 'User({}, {}, {})'.format(self.user_id, self.first_name, self.last_name)

users = [User(23,'raj','subra'), User(3,'prema','nana'), User(99,'mns','toolong')]

In [112]:
users

[User(23, raj, subra), User(3, prema, nana), User(99, mns, toolong)]

In [113]:
sorted(users)

TypeError: '<' not supported between instances of 'User' and 'User'

In [ ]:
sorted(users, key=lambda u: u.user_id)

In [ ]:
from operator import attrgetter
sorted(users, key=attrgetter('user_id'))

In [ ]:
sorted(users, key=attrgetter("first_name", 'last_name'))

In [ ]:
min(users, key=attrgetter("first_name"))

In [ ]:
min(['raj','r','raju','rajana'])

In [ ]:
# grouping records together based on a field
rows = [
    {'address': 'S412 N CLARK', 'date': '07/01/2012'}, 
    {'address': 'S148 N CLARK', 'date': '07/04/2012'}, 
    {'address': 'S800 E 58th', 'date': '07/02/2012'}, 
    {'address': '2122 N CLARK', 'date': '07/03/2012'}, 
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}, 
    {'address': '1060 W ADDISON', 'date': '07/02/2012'}, 
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'}, 
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}
]

In [ ]:
from itertools import groupby

In [ ]:
sorted(rows, key=itemgetter('date'))

In [ ]:
for date, items in groupby(rows, key=itemgetter("date")):
    print(date)

In [ ]:
for date, items in groupby(rows, key=itemgetter("date")):
    print(date)
    for i in items:
        print("    ", i)

In [ ]:
# notice that its not grouped.  we must sort first
rows.sort(key=itemgetter("date"))
for date,items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print("   ", i)
# hard to access the items here

In [ ]:
dd = defaultdict(list)
for row in rows:
    dd[row['date']].append(row)

In [ ]:
for r in dd['07/01/2012']:
    print(r)
# if memeory is concern, use default dict method rather than sorting and then iterating through groupby

In [ ]:
dd

In [ ]:
# filtering sequence
mylist =[1, 4, -5, 10, -7, 2, 3, -1]
[n for n in mylist if n > 2]

In [1]:
values = ['1','2','-3','-','4','N/A','5']

In [2]:
def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False
    
isvals = list(filter(is_int, values))

In [3]:
isvals

['1', '2', '-3', '4', '5']

In [4]:
list(filter(lambda x: x.isdigit(), values))

['1', '2', '4', '5']

In [5]:
addresses = [
    '5412 N CLARK', 
    '5418 N CLARK',
    '5800 E 58TH ST',
    '2122 N CLARK',
    '5645 N RAVENSWOOD',
    '1060 W ADDISON',
    '4801 N BROADWAY',
    '1039 W GRANVILLE',
]
counts = [0, 3, 10, 4, 1, 7, 6, 1]
from itertools import compress
more5 = [n > 5 for n in counts]
list(compress(addresses, more5))

['5800 E 58TH ST', '1060 W ADDISON', '4801 N BROADWAY']

In [ ]:
more5

In [ ]:
# extracting subset of a dictionary
prices = {
    'ACME': 45.23, 
    'AAPL': 612.78, 
    'IBM': 205.55,
    'HPQ': 37.20, 
    'FB': 10.75
}
pl = {key: value for key, value in prices.items() if value > 200}

In [ ]:
pl

In [ ]:
# make a dictionary of tech stocks
tech_names = {'AAPL', 'IBM', 'HPQ', 'MSFT'}

In [ ]:
%timeit {key: value for key, value in prices.items() if key in tech_names}

In [ ]:
p2

In [ ]:
%timeit {key: prices[key] for key in prices.keys() & tech_names} #slower

In [120]:
# mapping names to sequence elements
from collections import namedtuple
Subscriber = namedtuple('Subscriber', ['addr', 'joined'])
sub = Subscriber("jonesy@example.com", "2012-10-19")
sub

Subscriber(addr='jonesy@example.com', joined='2012-10-19')

In [121]:
sub.addr

'jonesy@example.com'

In [122]:
sub.joined

'2012-10-19'

In [123]:
addr, joined = sub

In [124]:
addr

'jonesy@example.com'

In [125]:
joined

'2012-10-19'

In [126]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        total += rec[1] * rec[2]
    return total
# this is bad because references to positional tuples in a list make the code less expressive
# and more dependent on structure of the records
# use this way instead
Stock = namedtuple('Stock', ['name', 'shares', 'price'])
def compute_cost2(records):
    total = 0.0
    for rec in records:
        s = Stock(*rec)
        total += s.shares * s.price
    return total

In [127]:
records = [('aapl', 1000, 22.56), ('msft', 500, 100.25), ("acme", 20000, 55), ("IBM", 100000, 77.56)]

In [128]:
compute_cost(records)

8928685.0

In [129]:
compute_cost2(records)

8928685.0

In [130]:
s = Stock(*records[0])

In [131]:
s

Stock(name='aapl', shares=1000, price=22.56)

In [132]:
s = s._replace(shares=55)

In [133]:
s

Stock(name='aapl', shares=55, price=22.56)

In [134]:
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])
# create prototype
stock_prototype = Stock('', 0, 0.0, None, None)
# function to convert dictionary to Stock
def dict_to_stock(s):
    return stock_prototype._replace(**s)
a = {"name": "ACME", 'shares': 100, 'price': 123.45}
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [135]:
# according to the author, if you want to change various instance attributes constantly, 
# using namedtuples is not the best answer, use __slots__ (covered in lec 8) 

# transforming and reducing data at the same time
nums = [1, 2, 3, 4, 5]
s = sum(x * x for x in nums)

In [136]:
s

55

In [137]:
# determine if there is any .py files in current directory
import os
files = os.listdir(os.getcwd())

In [138]:
if any(name.endswith('.py') for name in files):
    print("there be python")
else:
    print("sorry no python files exist")

there be python

In [140]:
s = ('ACME', 50, 123.45)
print(",".join(str(x) for x in s))

ACME,50,123.45

In [141]:
",".join(str(x) for x in s)

'ACME,50,123.45'

In [142]:
portfolio = [
    {'name': 'GOOG', 'shares': 50}, 
    {'name': 'yahoo', 'shares': 75}, 
    {'name': 'aol', 'shares': 20},
    {'name': 'SCOX', 'shares': 65}
]

In [145]:
%timeit min(portfolio, key=itemgetter("shares"))

695 ns ± 9.87 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [146]:
%timeit min(s['shares'] for s in portfolio) # this is faster wtf

662 ns ± 1.14 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
# combining multiple mapping into a single mapping

In [149]:
a,b = {'x': 1, 'z': 3}, {'y': 2, 'z': 4}

In [150]:
from collections import ChainMap
c = ChainMap(a,b)
print(c['x'])

1

In [151]:
print(c['y'])

2

In [152]:
list(c.keys())

['x', 'z', 'y']

In [154]:
c['z'] # duplicate keys, first map value is used, i.e value in a

3

In [155]:
c['z'] = 10
c['w'] = 40

In [156]:
c

ChainMap({'x': 1, 'z': 10, 'w': 40}, {'y': 2, 'z': 4})

In [157]:
c['y']

2

In [158]:
del c['y'] # any mutation only affects first dictionary

KeyError: "Key not found in the first mapping: 'y'"

In [159]:
c['y'] = 22

In [160]:
c

ChainMap({'x': 1, 'z': 10, 'w': 40, 'y': 22}, {'y': 2, 'z': 4})

In [161]:
c.new_child()

ChainMap({}, {'x': 1, 'z': 10, 'w': 40, 'y': 22}, {'y': 2, 'z': 4})

In [165]:
c = ChainMap()
c['x'] = 1
c

ChainMap({'x': 1})

In [166]:
c.new_child()

ChainMap({}, {'x': 1})

In [163]:
values = c.new_child()
values['x'] = 2

In [172]:
values

ChainMap({'x': 2}, {'x': 1})

In [167]:
values2 = values.new_child()

In [169]:
values2['x'] = 2

In [171]:
values2

ChainMap({'x': 2}, {'x': 2}, {'x': 1})

In [173]:
values

ChainMap({'x': 2}, {'x': 1})

In [174]:
values = values2.parents

In [176]:
values.parents

ChainMap({'x': 1})

In [178]:
values = values.parents

In [182]:
values == c

True